"*":
  "atom-material-ui":
    colors:
      genAccent: true
      paintCursor: true
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
  "chary-tree-view":
    dirSingleClick: false
  core:
    closeDeletedFileTabs: true
    disabledPackages: [
      "overscroll"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    atomicSoftTabs: false
    fontFamily: "Fira Code"
    fontSize: 16
    invisibles: {}
    scrollPastEnd: true
    softWrapHangingIndent: 2
    tabType: "soft"
  "exception-reporting":
    userId: "216e7cd0-8a92-9912-d7db-cc36be9620a2"
  "file-icons": {}
  welcome:
    showOnStartup: false
